
.advanced-options__body{
	display: flex;
	flex-direction: column;
}
.advanced-options__body-name{
	margin-bottom: 40px;
	display: inline-flex;
}
.advanced-options__body-name span{
	text-transform: uppercase;
	font-size: 1.14rem;
	color: #565656;
	margin-right: 40px;
	cursor: pointer;
}
.advanced-options__body-name span:last-child{
	margin-right: 10px;
}
.advanced-options__body-name-noactive{}
.advanced-options__body-name-active{
	font-weight: 700;
	color: #2F3035!important;
	transition: all 0.4s ease-in-out;
}
.advanced-options__body-name-active::after{
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #1C62CD;
	margin-top: 5px;
}

.advanced-options__body-item{
	display: inline-block;
	min-width:100%;
   transition: transform 1s;
}
.advanced-options__body-items{
	width: 100%;
	overflow: hidden;
	display: flex;
}
.advanced-options__body-item-inputbtn{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 40px;
}
.advanced-options__body-item-input{
	width: 100%;
	background-color: #F0F0F4;
	padding-left: 2%;
	font-size: 1.14rem;
	line-height: 3rem;
}
.advanced-options__body-item-input::placeholder{
	color: #656464;
}
.advanced-options__body-item-input:focus{
	border-right: solid 1px #84b3f8;
	border-top: solid 1px #84b3f8;
	border-bottom: solid 1px #84b3f8;
	border-left: solid 1px #84b3f8;
}
.advanced-options__body-item-btn{
	padding: 11px;
}
.bi-search:hover::before{
		transform: scale(1.1);
		transition: all 0.3s ease-in-out;
	}
