.advanced-options__body-item{}
.advanced-options-item__body{}
.advanced-options-item__body-presence .accordion-button,
.advanced-options-item__body-new .accordion-button,
.advanced-options-item__body-brand .accordion-button,
.advanced-options-item__body-model .accordion-button,
.advanced-options-item__body-countries .accordion-button,
.advanced-options-item__body-stock .accordion-button,
.advanced-options-item__body-price .accordion-button{
	background-color: unset;
	font-weight: 600;
	padding: 15px 0px 15px 4px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
.accordion-button:not(.collapsed), 
.accordion-button:not(.collapsed):focus  {
	box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
}

.advanced-options-item__body-presence .accordion-button:not(.collapsed),
.advanced-options-item__body-new .accordion-button:not(.collapsed),
.advanced-options-item__body-brand .accordion-button:not(.collapsed),
.advanced-options-item__body-model .accordion-button:not(.collapsed),
.advanced-options-item__body-countries .accordion-button:not(.collapsed),
.advanced-options-item__body-stock .accordion-button:not(.collapsed),
.advanced-options-item__body-price .accordion-button:not(.collapsed){
	background-color: #fff;
	font-weight: 600;
	color: #212529;
}
.advanced-options-item__body-presence .accordion-button::after,
.advanced-options-item__body-new .accordion-button::after,
.advanced-options-item__body-brand .accordion-button::after,
.advanced-options-item__body-model .accordion-button::after,
.advanced-options-item__body-countries .accordion-button::after,
.advanced-options-item__body-stock .accordion-button::after,
.advanced-options-item__body-price .accordion-button::after{
	margin-left: 0px;
	margin-right: 15px;
}
.advanced-options-item__body-presence .accordion-button:not(.collapsed)::after,
.advanced-options-item__body-new .accordion-button:not(.collapsed)::after,
.advanced-options-item__body-brand .accordion-button:not(.collapsed)::after,
.advanced-options-item__body-model .accordion-button:not(.collapsed)::after,
.advanced-options-item__body-countries .accordion-button:not(.collapsed)::after,
.advanced-options-item__body-stock .accordion-button:not(.collapsed)::after,
.advanced-options-item__body-price .accordion-button:not(.collapsed)::after{
	filter: invert(46%) sepia(25%) saturate(3579%) hue-rotate(169deg) brightness(96%) contrast(89%);
}


.accordion-body{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1rem 0rem;
	margin: 0px -15px;
	min-width: 100%;
}

.advanced-options-item__body-presence-choice,
.advanced-options-item__body-new-choice,
.advanced-options-item__body-brand-choice,
.advanced-options-item__body-model-choice,
.advanced-options-item__body-countries-choice,
.advanced-options-item__body-price-choice{
	padding: 0px 15px;
	margin-bottom: 10px;
}
.advanced-options-item__body-price-choice{
	width: 100%;
}
.advanced-options-item__body-presence-choice input,
.advanced-options-item__body-new-choice input,
.advanced-options-item__body-brand-choice input,
.advanced-options-item__body-model-choice input,
.advanced-options-item__body-countries-choice input,
.advanced-options-item__body-price-choice input{
	margin: 4px;
}
.accordion-item{
	border: none;
}
.advanced-options-item__body-brand{
	margin-top: 20px;
}
.advanced-options-item__body-model-input{
	padding: 0px 15px;
	margin-bottom: 15px;
	min-width: 100%;
}
.advanced-options-item__body-model-input input{
	border: 1px solid #E0E0E0;
	padding: 5px;
	font-size: 0.85rem;
	width: 100%;
}

.advanced-options-item__body-stock-choice input{
	opacity: 0;
	cursor: default;
	margin-bottom: 17px;
}
.advanced-options-item__body-stock-choice-span-sale,
.advanced-options-item__body-stock-choice-span-new,
.advanced-options-item__body-stock-choice-span-hit,
.advanced-options-item__body-stock-choice-span-diler{
	padding: 6px 19px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.85rem;
}
.advanced-options-item__body-stock-choice-span-sale{
	background-color: #1C62CD;
	color: #fff;
}
.advanced-options-item__body-stock-choice-span-new,
.advanced-options-item__body-stock-choice-span-hit{
	background-color: #F0F0F4;
	color: #C4C4C4;
}
.advanced-options-item__body-stock-choice-span-diler{
	background-color: #2F3035;
	color: #fff;
}

.advanced-options-item__body-power{
	margin-top: 20px;
}
.advanced-options-item__body-power-first,
.advanced-options-item__body-power-second,
.advanced-options-item__body-power-last{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.advanced-options-item__body-power-fir::after{
	display: block;
	content: "";
	height: 2px;
	width: 100%;
	background-color: #C4C4C4;
	margin-top: 10px;
}
.form-select{
	width: unset!important;
	padding: 0.3rem 1.7rem 0.375rem 1rem!important;
	border: none!important;
}