.internal-carousel{
	margin-top: 15px;
	margin-left: -32px;
	margin-right: -32px;
	display: flex;
	align-items: center;
}
.internal-carousel button{
	background-color: unset;
}
.internal-carousel__body{
	overflow: hidden;
	padding: 0px 15px;
}
.internal-carousel__body-items{
	padding-left: 0px;
	display:flex;
	flex-direction:row;
	margin: 0px -15px;
}
.internal-carousel__body-card{
	padding: 15px 15px;
	flex: 1 1 25%;
	min-width: 25%;
	transition: transform 1s;
}
.internal-carousel__arrowleft{
	margin-right: -15px;
}
.internal-carousel__arrowright{
	margin-left: -15px;
}