.internal-carousel{
	margin: 15px -32px 0px -32px;
	padding: 0px 15px;
	display: flex;
	align-items: center;
}
.internal-carousel button{
	background-color: unset;
}
.internal-carousel__body{
	overflow: hidden;
	padding: 0px 15px;
}
.internal-carousel__body-items{
	padding-left: 0px;
	display:flex;
	flex-direction:row;
	margin: 0px -15px;
}
.internal-carousel__body-card{
	padding: 15px 15px;
	flex: 1 1 25%;
	min-width: 25%;
	transition: transform 1s;
}
.internal-carousel__arrowleft{
	margin-right: -10px;
}
.internal-carousel__arrowright{
	margin-left: -10px;
}

@media(max-width:932px){
	.internal-carousel__body-card{
		min-width: 33.3333%;
	}
}
@media(max-width:640px){
	.internal-carousel__body-card{
		min-width: 50%;
	}
}
@media(max-width:482px){
	.internal-carousel__body-card{
		min-width: 100%;
	}
}