.jetskis-products{
	width: 100%;
	display: flex;
	justify-content: center;
}
.jetskis-products__body{
	display: flex;
	flex-wrap: wrap;
	min-width: 100%;
	margin: 0px -15px;
	padding-left: 0px;
}
.jetskis-products__body-items{
	flex: 1 1 33.333%;
	min-width: 33.333%;
	padding: 0px 15px;
	margin-bottom: 15px;
}
.jetskis-products__body-items-list{
	min-width: 100%!important;
	margin-bottom: 20px;
}
.jetskis-products__body-list{
	width: 100%;
	margin: 0px -15px;
	padding-left: 0px;
}
@media (max-width:850px) {
	.jetskis-products__body-items{
		flex: 1 1 50%;
		min-width: 50%;
	}
}
@media (max-width:506px) {
	.jetskis-products__body-items{
		min-width: 100%;
	}
}