.nav-bar{
}
.container{
	max-width: 1171px;
}
.navbar > .container{
	padding: 0px 0px;
	justify-content: unset!important;
}
.navbar-expand .navbar-collapse{
	justify-content: space-between;
}
.navbar-nav .nav-link{
	color: #212225!important;
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 1.42rem;
}
.navbar-nav .nav-link:hover{
	color: #858484!important;
}

.nav-bar__items-left{
	margin: 0px -25px;
}
.navbar-nav .nav-bar__items-a{
	padding-right: 25px!important;
	padding-left: 25px!important;
}
.navbar-brand{
	filter: invert(18%) sepia(8%) saturate(467%) hue-rotate(193deg) brightness(98%) contrast(98%);
}
.navbar-brand img{
	width: 80px;
	height: 76px;
}
.navbar-nav .nav-bar__items-adress-a{
	padding-right: 86px!important;
}

.nav-bar__items-right-a:hover{
	transition: all 1s ease;
	transform: scale(1.2);
}

@media(max-width: 1019px){
	.nav-bar__items-left{
		margin: 0px -15px;
	}
	.navbar-nav .nav-bar__items-a{
		padding-right: 15px!important;
		padding-left: 15px!important;
	}
	.navbar-nav .nav-bar__items-adress-a{
		padding-right: 56px!important;
	}
}
@media(max-width: 910px){
	.nav-bar__items-left{
		margin: 0px -10px;
	}
	.navbar-nav .nav-bar__items-a{
		padding-right: 10px!important;
		padding-left: 10px!important;
	}
	.navbar-nav .nav-bar__items-adress-a{
		padding-right: 36px!important;
	}
	.navbar-nav .nav-link{
		font-size: 1.28rem;
	}
	.navbar-brand{
		margin-right: 0px!important;
	}
	.navbar-brand img{
		width: 70px;
		height: 66px;
	}
	.nav-bar__navproducts-item .nav-bar__navproducts-items{
		font-size: 1.28rem;
	}
}

@media(max-width: 777px){
	.nav-bar__items-left{
		margin: 0px -8px;
	}
	.navbar-nav .nav-bar__items-a{
		padding-right: 8px!important;
		padding-left: 8px!important;
	}
	.navbar-nav .nav-bar__items-adress-a{
		padding-right: 30px!important;
	}
	.navbar-nav .nav-link{
		font-size: 1.1rem;
	}
	.navbar-brand img{
		width: 65px;
		height: 61px;
	}
	.nav-bar__navproducts-item .nav-bar__navproducts-items{
		font-size: 1.1rem;
	}
}
@media(max-width: 678px){
	.navbar-nav .nav-link{
		font-weight: 400;
	}
}

@media(max-width: 344px){
	.nav-bar-phone__items-brand{
		margin-left: 10px!important;
	}
}
@media(max-width: 312px){
	.nav-bar-phone__items-brand{
		font-size: 1.28rem!important;
	}
	.nav-bar-phone__items-right .nav-link{
		padding-left: 0.2rem!important;
		padding-right: 0.2rem!important;
	}
}


.nav-bar-phone{
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.nav-bar__items-right-a-phone{
	align-self: flex-start;
}


.nav-bar__navproducts{
	height: 53px;
	background-color: #F0F0F4;
	margin-top: 10px;
}
.nav-bar__navproducts-item{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 0px;
	margin-bottom: 0px;
}
.nav-bar__navproducts-item a{
	color: #2F3035!important;
}
.nav-bar__navproducts-items{
	font-weight: 400;
	font-size: 1.42rem;
}
.nav-bar__navproducts-items-active{
	font-weight: 600;
	position: relative;
}
.nav-bar__navproducts-items-active::after{
	content: "";
	display: block;
	position: absolute;
	bottom: -20px;
	height: 3px;
	width: 100%;
	background-color: #1C62CD;
}


.nav-bar-phone__items-brand{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.48rem;
	margin-left: 34px;
}
.nav-bar-phone__items-brand:hover{
	font-weight: 600;
}

.navbar-nav .nav-bar-phone__items-a{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.nav-bar-phone__items-adress a{
	margin-left: -5px;
}
.nav-bar-phone__items-right{
	flex-direction: row;
	align-self: flex-start;
	flex-wrap: nowrap;
	padding-top: 6px;
}
.nav-bar-phone__items-right .nav-link{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.nav-bar-phone__navproducts-items{
	padding-left: 40px!important;
}
.nav-bar-phone__navproducts-items-active{
	font-weight: 600!important;
}