.card-m{
	width: 100%;
	height: 100%;
}
.card-list{
	border: none!important;
	outline: 1px solid rgba(0,0,0,.125);
}
.card-list__body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.card-list__body-hover{
	display: none;
	position: absolute;
	width: 100%;
	top: 50%;
   transform: translate(0, -50%); 
	color: #2F3035;
	text-align: center;
}
.card-list__body-hover:hover{
	color: #2F3035;
}
.card-list__body-hover span{
	font-size: 1.42rem;
	padding: 17px 20px;
	background: #FFFFFF;
	opacity: 0.9;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}
.card-m:hover{
	outline: none;
	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
	transition: box-shadow 0.3s ease-in-out;
}
.card-m:hover .card-list__body-hover{
	display: block;
	transition: display 0.5s ease-in-out;
} 


.card-list__body-up{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.card-list__body-up-sale{
	background-color: #1C62CD;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
	max-height: 30px; 
}
.card-list__body-up-like{
	padding: 19px 16px 0px 0px;
}
.card-list__body-up-like .bi-heart:hover::before{
	color: #1C62CD;
	transform: scale(1.2);
	transition: all 0.3s ease-in-out;
}

.card-list__body-imgprice{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.card-list__body-imgprice-img figure{
	margin: 0px 15px;
	max-width: 100%;
}
.card-list__body-imgp-list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card-list__body-imgp-list-name{
	font-weight: 400;
	font-size: 1.28rem;
	text-align: center;
	margin-top: 50px;
	padding: 0px 40px;
}
.card-list__body-imgprice-price{
	text-align: center;
	font-family: barlow;
	font-weight: 400;
	font-size: 2.14rem;
	padding-top: 8px;
}
.card-list__body-imgprice-basket{
	text-align: end;
}
.card-list__body-imgprice-basket .bi-cart2::before{
	color: #fff;
	display: inline-block;
	background-color: #1C62CD;
	padding: 5px 10px;
	border-top-left-radius: 12px;
}

.card-list__body-imgprice-instock{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 0px 148px; */
	padding-right: 18%;
	justify-content: center;
}
.card-list__body-imgprice-havnot{
	font-weight: 700;
	font-size: 1.28rem;
	margin-bottom: 13px;
	text-align: center;
}
.card-list__body-imgprice-reportadmission{
	font-weight: 400;
	font-size: 1.14rem;
	color: #1C62CD;
	text-align: center;
}
.card-list__body-imgprice-reportadmission::after{
	display: block;
	content: "";
	background-color: #1C62CD;
	width: 100%;
	height: 1px;
	margin-top: 3px;
}

@media (max-width:1108px) {
	.card-list__body-imgp-list-name{
		padding: 0px 15px 0px 0px;
	}
	/* .card-list__body-imgprice-instock{
		padding: 0px 125px;
	} */
}
@media (max-width:953px) {
	.card-list__body-imgprice-instock{
		padding-right: 15%;
	}
}
@media (max-width:857px) {
	.card-list__body-imgprice-instock{
		padding-right: 12%;
	}
}
@media (max-width:797px){
	.card-list__body-imgprice-instock{
		padding-right: 18%;
	}
}
@media (max-width:670px){
	.card-list__body-imgprice-instock{
		padding-right: 13%;
	}
}
@media (max-width:567px){
	.card-list__body-imgprice-instock{
		padding-right: 7%;
	}
}
@media (max-width:540px){
	.card-list__body-imgprice-instock{
		padding-right: 1%;
	}
}

@media (max-width:506px){
	.card-list__body-imgprice-img figure{
		margin: 0px;
	}
	.card-list__body-imgprice-img figure img{
		width: 200px;
	}
	.card-list__body-imgprice-instock{
		padding-right: 7%;
	}
}
@media (max-width:454px){
	.card-list__body-imgprice-img figure img{
		width: 150px;
	}
	.card-list__body-imgp-list-name{
		margin-top: 10px;
		font-size: 1.18rem;
	}
	.card-list__body-imgprice-price{
		font-size: 1.8rem;
	}
}
@media (max-width:380px){
	.card-list__body-imgprice-instock{
		padding-right: 1%;
	}
	.card-list__body-imgprice-reportadmission{
		font-size: 1rem;
	}
}
@media (max-width:343px){
	.card-list__body-imgp-list-name{
		padding: 0px 5px;
	}
	.card-list__body-imgprice{
		flex-direction: column;
	}
	.card-list__body-imgprice-img figure{
		text-align: center;
	}
}