.range{}
.form {
	padding: 20px 0px 0px;
}
.input-range__label--min {
	left: 18px!important;
}
.input-range__label--max {
	right: 18px!important;
}
.input-range__track--active{
	background-color: #1C62CD!important;
}
.input-range__slider{
	background-color: #1C62CD!important;
}
.input-range__slider:active{
	transform: scale(1.2)!important;
}

