.search-by-category{}
.search-by-category__body{
	margin-top: 45px;
	width: 100%;
}
.search-by-category__body-name{
	font-weight: 700;
	font-size: 2.14rem;
}
.search-by-category__body-common-sorting{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin-top: 20px;
	align-items: center;
}
.search-by-category__body-common-sorting-left{
	margin: 0px -4px;
	display: flex;
	flex-direction: row;
}
.search-by-category__body-common-sorting-left-items{
padding: 0px 4px;
}
.search-by-category__body-common-sorting-left span{
	background-color: #F0F0F4;
	padding: 4px 22px;
	cursor: pointer;
}
.search-by-category__body-common-sorting-right{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.search-by-category__body-common-sorting-right-select{
	margin-right: 40px;
}
.search-by-category__body-common-sorting-right span{
	margin-right: 10px;
}
.search-by-category__body-common-sorting-right span:last-child{
	margin-right: 0px;
}

.form-select{
	padding: 0.4rem 2.95rem 0.375rem 1.7rem;
	border: 1px solid #D7D9DF;
}
.form-select:focus{
	box-shadow: none;
}

@media(max-width:797px){
	.search-by-category__body-common-sorting{
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	.search-by-category__body-common-sorting-left{
		margin: 20px -4px 0px;
		flex-wrap: wrap;
	}
	.search-by-category__body-common-sorting-left-items{
		padding: 0px 4px;
		margin-bottom: 20px;
		}
}

@media(max-width:318px){
	.form-select{
		padding: 0.320rem 2.95rem 0.375rem 0.8rem;
		font-size: 0.95rem;
	}
	.search-by-category__body-common-sorting-right-select{
		margin-right: 15px;
	}
}
@media(max-width:281px){
	.form-select{
		padding: 0.320rem 2.15rem 0.375rem 0.5rem;
	}
}


