.full-screen__body-banner{
	display:flex;
	flex-direction:row;
	margin: 80px -18px 0px;
}
.full-screen__body-banner-carousel{
	flex: 1 1 75.83%;
	padding: 0px 18px;
}

.carousel-indicators [data-bs-target]{
	width: 10px;
	height: 10px;
	border-radius: 100%;
}


.full-screen__body-banner-advertising{
	flex: 1 1 24.17%;
	padding: 0px 18px;
}
.full-screen__body-banner-advertising-body{
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid #CDCDCD;
}
.full-screen__body-banner-advertising-up{
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.full-screen__body-banner-advertising-up-stock{
	background-color: #1C62CD;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
	max-height: 30px;
}
.full-screen__body-banner-advertising-up-price{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.full-screen__body-banner-advertising-up-prices{
	text-align: right;
	padding-right: 5px;
}
.full-screen__body-banner-advertising-up-prices span:first-child{
	font-family: barlow;
	font-weight: 700;
	font-size: 1.92rem;
	color: #1C62CD;
	margin-bottom: 7px;
}
.full-screen__body-banner-advertising-up-prices span:last-child{
	display: block;
	font-family: barlow;
	font-weight: 400;
	color: #C4C4C4;
	margin-top: 6px;
}
.full-screen__body-banner-advertising-up-prices span:last-child::after{
	content: "";
	display: block;
	width: 65%;
	height: 1px;
	background-color: #C4C4C4;
	transform: rotateZ(-15deg) translateX(59%);
}

.full-screen__body-banner-advertising-up figure{
	text-align: center;
	width: 100%;
	background-color: transparent;
}
.full-screen__body-banner-advertising-up figure img{
	margin-left: -25px;
}
.full-screen__body-banner-advertising-up figcaption{
	font-size: 1.28rem;
	font-weight: 700;
	line-height: 1.6rem;
}



.full-screen__body-banner-advertising-down{
	background-color: #F0F0F4;
	font-size: 1.28rem;
}
.full-screen__body-banner-advertising-down p{
	margin: 0px auto;
	text-align: center;
	line-height: 1.6rem;
}
.full-screen__body-banner-advertising-down p:first-child{
	padding-top: 20px;
	font-weight: 400;
}
.full-screen__body-banner-advertising-down p:last-child{
	padding-bottom: 20px;
	font-weight: 700;
	color: #1C62CD;
}

@media (max-width: 1130px) {
	.full-screen__body-banner-advertising-up figure img{
		max-height: 150px;
	}
}
@media (max-width: 1050px) {
	.full-screen__body-banner{
		margin: 80px -8px 0px;
	}
	.full-screen__body-banner-carousel{
		padding: 0px 8px;
	}
	.full-screen__body-banner-advertising-down p:first-child{
		padding-top: 10px;
	}
	.full-screen__body-banner-advertising-down p:last-child{
		padding-bottom: 10px;
	}
}
@media (max-width: 985px) {
	.full-screen__body-banner-advertising-up figcaption{
		font-size: 1.15rem;
	}
	.full-screen__body-banner-advertising-down{
		font-size: 1.15rem;
	}
	.full-screen__body-banner-advertising-up-prices span:first-child{
		font-size: 1.52rem;
		margin-bottom: 5px;
	}
	.full-screen__body-banner-advertising-up figure{
		margin-bottom: 0px;
	}
}
@media (max-width: 927px) {
	.full-screen__body-banner{
		display:flex;
		flex-direction: column;
		margin: 25px 0px 0px;
	}
	.full-screen__body-banner-carousel{
		padding: 0px 0px;
	}
	.full-screen__body-banner-advertising {
		padding: 0px 0px;
		margin-top: 40px;
	}
}